.video-grid-container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    gap: 10px;

    button {
        position: absolute;
    }

    .transition {
        &.enter {
            opacity: 0.01;
            transform: translate(0, -10px);
        }

        &.enter-active {
            opacity: 1;
            transform: translate(0, 0);
            transition: all 300ms ease-in;
        }

        &.exit {
            opacity: 1;
            transform: translate(0, 0);
        }

        &.exit-active {
            opacity: 0.01;
            transform: translate(0, 10px);
            transition: all 300ms ease-in;
        }
    }
}
